<div class="col text-center">
    <h1>
        Sexy boy need your donation.
    </h1>
    <img src="assets/AlbertElkassem.jpg">
    <h2>
        Él ya ha ganado {{Money}} €.
    </h2>
    <button type="button" class="btn btn-primary" (click)="Money=Money+1;Donation(0)">Donar 1 €</button>
    <br>
    <button type="button" class="btn btn-primary" (click)="Money=Money+10;Donation(1)">Donar 10 €</button>
    <br>
    <button type="button" class="btn btn-primary" (click)="Money=Money+100;Donation(2)">Donar 100 €</button>
    <br>
    <button type="button" class="btn btn-primary" (click)="Money=Money+1000;Donation(3)">Donar 1000 €</button>
    <br>
    <div *ngIf="button[0]">
        <h3>Eres un puto tacaño</h3>
    </div>
    <div *ngIf="button[1]">
        <h3>Eres un desgraciado</h3>
    </div>
    <div *ngIf="button[2]">
        <h3>Eres muy generoso</h3>
    </div>
    <div *ngIf="button[3]">
        <h3>
            Utiliza el siguiente enlace para mantener un chat sexual con el Omar
        </h3>
        <a
            href="https://api.whatsapp.com/send?phone=34699040463&text=Hola,%20Quiero%20mantener%20un%20chat%20sexual%20contigo,%20se%C3%B1or%20albert.">
            <i class="bi bi-whatsapp" style="font-size: 100px;color: green;"></i></a>
    </div>


</div>